.body {
    background: black;
}
.post{
    text-align: center;
    background: white;
    margin: 0;
}

.post-header{
    display: flex;
    margin: 0;
}

.post-icons{
    display: flex;
}

.post-body{
    text-align: center;
}
.container{
    width: 600px;
    margin: auto;
}
div {
    box-sizing: border-box;
header {
    background: black;
    padding: 10px;
}